/*  ================================================================
 *  GENERAL TODO LIST
 *  ----------------------------------------------------------------
 *  Location specific items are where they need to be dealt with.
 *  Comment categories are: TODO, NOTE, FIXME, CHANGES, FUTURE,
 *  ================================================================*/
/*  TODO:   Update visual styling*/
/*  TODO:   Update/finish layouts*/
/*  TODO:   Responsiveness*/
/*  TODO:   Add remaining content pages*/
/*  TODO:   Cart in navigation??? */
/*  FIXME:  When opening the inventory detail page the nav bar animates a size chang, not sure why */
/*  FUTURE: Responsive Imagery at least for banner*/
/*  FUTURE: Can the border bar below nav items animate between them when the page is changed? */
/*  ================================================================*/

/*  =========================
 *  DEFAULT ELEMENT STYLING
 *  =========================*/

img {
    width: 100%;
}

body {
    background-color: #191919;
}

/*  =========================
 *  "MIXINS"
 *  =========================*/

.clearfix {
    content: "";
    display: table;
    clear: both;
}

/*  =========================
 *  TEXT STYLING
 *  =========================*/

h1,
h2,
h3,
span {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0;
}

h2 {
    font-size: 1.5rem;
}

li {
    list-style-type: none;
}

p {
    color: #666666;
    line-height: 2em;
}

figcaption {
    color: #666666;
}

/*  =========================
 *  INTERACTIVE ELEMENTS
 *  =========================*/


/* Links */

a {
    color: #DD4D6A;
    text-decoration: none;
    opacity: 1;
/*
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
*/
}

a:hover, a:active, a:focus, a h1:hover, a h1:active, a h1:focus, a h2:hover, a h2:focus, a h2:active {
    text-decoration: underline;
    opacity: 0.6
}

a.see-more {
    text-decoration: underline;
}

/* -----------------------------
 * Standard Button
 * -----------------------------*/
/* NOTE: To style differently just create a new class that modifies this and apply both to the html*/
/* TODO: It should be more obvious this is a button before you hover... */
/* -----------------------------*/

.btn {
    font-family: "Inconsolata", Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #FFF;
    background-color: #191919;
    padding: 0.8em 1.3em;
    display: inline-block;
    text-decoration: none;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

/* TODO: Different active state than hover??? */

.btn:hover,
.btn:focus,
.btn:active {
    text-decoration: none;
    background-color: #333;
}

#logo {
    width: 6rem;
    display: block;
    height: auto;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    margin: 0 auto;
}

#logo:hover,
#logo:focus,
#logo:active {
    opacity: 0.8;
}


/*  =========================
 *  FORMS & DROPDOWNS
 *  =========================*/

/* TODO: Update this section's styling. */
label {
    font-family: "Source Sans Pro";
    font-weight: 600;
    font-size: 0.8em;
    display: block;
    padding: 3em 0.35em 0.35em 0.25em;
    text-transform: uppercase;
    cursor: pointer;
}

select {
    margin-right: 3em;
    border: 1.5px solid #191919;
    background: transparent;
    vertical-align: middle;
    width: 100;
}

input {
    padding: 0.5em 0.8em;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
    border: 1.5px solid;
}


/*  =========================
 *  HEADER & NAVIGATION
 *  =========================*/

#main-nav {
    overflow: hidden;
    min-width: 600px;
    width: 75%;
    margin: 0 auto;
}

/* NOTE: any element that uses this also requires the .btn class */

.btn-nav {
    font-size: 1rem;
    color: #E1E1E1;
    padding: 0rem 0rem 0.5rem 0rem;
    text-align: center;
}

.btn-nav:hover,
.btn-nav:active {
    background-color: #191919;
    text-decoration: none;
    /*    border-bottom: 2px solid #DD4D6A;*/
}

.btn-nav.current {
    border-bottom: 0.4rem solid #DD4D6A;
}

header {
    display: block;
    padding: 1em 0 0 0;
}


/*  =========================
 *  BANNERS
 *  =========================*/

.banner-container {
    position: relative;
    width: 100%;
    height: 20vh;
/*    min-height: 23rem;*/
    margin-bottom: 2rem;
}

#banner-image {
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 20vh;
/*    min-height: 23rem;*/
    overflow: hidden;
}

/* This is the overlay for the banner image */
#banner-image:after {
    position: absolute;
    content:"";
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.95));
    z-index: 5;
}

#banner-content {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    padding: 0rem 5rem;
    line-height: 0;
}


#banner-content p  {
    margin: 0;
    padding: 0;
    width: 28rem;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.5em;
    letter-spacing: 0.1rem;
    color: white;
}

#banner-content h1 {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 4rem;
    letter-spacing: 0.3rem;
    line-height: 0.85em;
    color: white;
}

#home-banner, #home-banner #banner-image {
    height: 35vh;
    min-height: 23rem;
}

#home-banner #banner-content {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2rem 5rem;
}

#home-banner p  {
    margin: 0;
    padding: 0;
    width: 28rem;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.5em;
    letter-spacing: 0.1rem;
    color: white;
}

#home-banner h1 {
    font-size: 7rem;
    font-weight: 700;
    border-bottom: 0.4rem solid #DD4D6A;
}

/*  =========================
 *  CONTENT FRAGMENTS
 *  =========================*/

/* Was thinking of styling the boxes on the homepage a bit differently, but didn't really work out */
.home-content .border-container {
    background: #151515;
    margin: 0 0.25rem;
    box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.5);
}

/* HOME & INVENTORY FRAGMENTS */

.home-content.content-fragment-container h2, .banner-container h1 {
    text-transform: uppercase;
}

.content-fragment-container h2 {
/*    text-transform: capitalize;*/
    display:inline;
    margin: 0 0 1rem 0;
    padding: 0;
}

.content-fragment-container span {
    display: inline;
    float: right;
    padding-top: 0.6rem;
    font-size: 1rem;
    text-transform: capitalize;
}

/* SERVICES & BLOG FRAGMENTS */

.col6of6.content-fragment-container img, .col6of6.content-fragment-container .content-fragment-text {
    width: 50%;
    float: left;
}

.col6of6.content-fragment-container .content-fragment-text {
    padding-left: 1.5rem;
}

.col6of6.content-fragment-container span {
    display: block;
    float: none;
    color: #666666;
}

.col6of6.content-fragment-container p {
    margin-top: 0.25rem;
}

/* TODO: Below this point hasn't been udpated other than the media queries. */

/*  =========================
 *  PRODUCT DETAIL PAGE
 *  =========================*/

.product {
    min-width: 520px;
}

.product-detail-price {
    font-weight: 800;
    color: #000;
}


/*
.product-detail .product-detail-img {
    border: 1px solid;
    padding: 0;
}

figure.product-detail-img {
    display: inline-block;
    float: left;
    width: 100%;
    margin: 0;
}

.product-detail-img img {
    width: 100%;
    float: left;
}

.product-detail-text {
    display: inline-block;
    float: left;
    width: 50%;
    margin-bottom: 2em;
}

.product-detail-bag-it {
     NOTE: HTML element should also have button class
    float: right;
    display: block;
}

.product-detail-bag-it:hover,
.product-detail-bag-it:active,
.product-detail-bag-it:focus {
    text-decoration: none;
    font-weight: 400;
}*/


/*=========
 *  BAG
 *=========*/

td {
    padding: 0em 1.5em !important;
    text-align: left;
}

th {
    padding: 1em 1em;
    font-family: "Source Sans Pro";
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 0.03em;
}

.shoppingbag-summary {
    width: 98%;
    border-collapse: collapse;
}

.shoppingbag-summary {
    border-collapse: collapse;
    border-spacing: 0;
    margin-right: 0.75em;
    padding: 1.5em 2em .5em 2em;
    text-align: left;
}

.shoppingbag-summary select {
    margin-bottom: 3em;
    margin-right: 0.5em;
    width: 5em;
}

.shoppingbag-summary tr:nth-of-type(odd) {
    /* colored strips for chart*/
    background: #F6F6F6;
}

.order-summary th {
    background: #BC7482;
    color: white;
}

.shippingbag-title {
    background: #FFF;
}

#bag-checkout {
    margin-top: 2em;
    float: right;
    margin-right: 3em;
}


/*===================
 *  CHECKOUT
 *===================*/

.checkout-container {
    display: inline-block;
}


/*---SHIPPING---*/

.col4of8 {
    width: 100%;
    float: left;
}

.checkout-info-form {
    margin-bottom: 5em;
}


/*
.checkout-info-form input,
.checkout-info-form select {
    padding: 0.5em 0.8em;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
    border: 1.5px solid;
}
*/

.checkout-title {
    font-weight: 800;
}

#month, #year {
    display: block;
    float: left;
}

/*---CONTACT PAYMENT---*/

#checkout-payment {
    margin-top: 5em;
}

.btn.confirm-order{
    margin: 0 auto;
}

#checkout-container .checkout-title {
    margin-bottom: 0em;
}

.tiny-btn {
    font-weight: 800;
    text-decoration: underline;
}

/* ==================
 *   MEDIA QUERIES
 * ==================*/

@media only screen
    and (max-width: 58rem) {
        #banner-content {
            padding: 0.5rem 5rem;
        }
        #banner-content h1 {
            font-size: 3.5rem;
        }
        #banner-content p {
            font-size: 1rem;
        }
        .content-fragment {
            padding-top: 1rem;
        }
        #main-nav {
            display: none;
        }
        /* TODO: Figure out why the hell these need to use !important, because they shouldn't... */
        #home-banner, #banner-image, .banner-container {
            height: 20vh !important;
            min-height: 13rem !important;
        }
        .col6of6.content-fragment-container img,
        .col6of6.content-fragment-container .content-fragment-text {
            float: none !important;
            width: 100% !important;
            padding-left: 0 !important;
        }
}
