/*
  STYLE GUIDE STYLING 
  Specific stylings for the style guide.
*/

body {
    font-family: sans-serif;
    padding: 2rem;
}

#title {
    color: #E1E1E1;
    text-align: center;
}

section {
    display: inline-block;
    width: 100%;
    margin: 1em 0em;
}

section:not([id]) {
    padding-top: 2em;
    border-top: 1px solid #333;
}

section h3 {
    margin-bottom: 0;
}

section p {
    margin-top: 0;
}

section code {
    line-height: 2em;
    color: #898989;
}

.sample-code {
    background-color: #151515;
    padding: 1em;
    margin-bottom: 1em;
}

pre {
    margin: 0;
    white-space: pre-wrap;
    /* css-3 */
    white-space: -moz-pre-wrap !important;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
}


/* 
  COLOUR ELEMENTS -------------------
*/

.cp_red,
.cp_grey,
.cp_black {
    font-family: "Inconsolata", monospace;
    width: 100px;
    color: white;
    padding: 1em;
    text-align: center;
    display: inline-block;
}

.cp_red {
    background-color: #DD4D6A;
}

.cp_grey {
    background-color: #E1E1E1;
    color: #191919;
}

.cp_black {
    background-color: #191919;
}


/* 
  TEXT ELEMENTS -------------------
*/

.item-example {
    padding: 0em 1em;
}

.item-example h1 {
    font-size: 2em;
}

.item-example .ul_li {
    list-style-type: disc;
}

.item-example .ol_li {
    list-style-type: decimal;
}


/* 
  BUTTON ELEMENTS -------------------
*/


/* Styling for the navigation button */

.item-example a.btn {
    margin-top: 1em;
}

#main-nav.btn-state{
    margin: 0;
}

/* 
  FORM ELEMENTS -------------------
*/

select {
    width: 100%;
}


/* 
  GROUPED ELEMENTS -------------------
*/

.item-example.nav {
    padding: 0;
}


/* 
  GRID -------------------
*/

.content-container.grid-fill{
    background-color: #898989;
    text-align: center;
    padding: 1rem 0rem;
    box-shadow: none;
}

@media only screen and (max-width: 63rem) {
    body{
        padding: 0;
    }
}