/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/
    
    *,
    *:after,
    *:before {
        box-sizing: border-box;
    }
    
    @font-face {
        font-family: "Courier Prime";
        src: local (font/courier_prime/courierPrime.ttf) format('truetype');
    }
    
    @font-face {
        font-family: "Courier Prime Bold";
        src: url (font/courier_prime/courierPrime_bold.ttf) format('truetype');
    }
    
    @font-face {
        font-family: "OswaldLight";
        src: url (font/oswald_light.ttf) format('truetype');
    }
    
    body {
        font-family: 'Courier Prime', sans-serif;
        line-height: 1.2em;
        padding: 2rem;
        background: #FBF4E5;
    }
    
    section:not([id]) {
        margin: 2em 0;
        padding: 1em 0.5em;
        /*    border-top: 0.15em solid #333;*/
        background-color: #fff;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }
    
    section h1 {
        font-family: 'Oswald', Arial, sans-serif;
        text-transform: uppercase;
        color: #A2CACC;
    }
    
    section h2 {
        font-family: 'Oswald', Arial, sans-serif;
        margin-top: 0;
        color: #DD4D6A;
        text-transform: uppercase;
        letter-spacing: 0.03em;
    }
    
    section h3 {
        margin-bottom: 0.2em;
    }
    
    section p {
        margin-top: 0;
        font-size: 0.9vem;
    }
    
    nav a:hover,
    nav a:focus {
        text-decoration: none;
    }
    
    section code {
        background-color: #DDD;
        padding: .75em 1em;
        display: block;
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24);
    }
    /* 
  COLOUR PALETTE -------------------
*/
    
    .cp_red,
    .cp_beige,
    .cp_brown,
    .cp_blue,
    .cp_grey,
    .cp_black {
        font-family: "Courier Prime", monospace;
        width: 100px;
        color: white;
        padding: 1em;
        text-align: center;
        display: inline-block;
    }
    
    .cp_beige {
        color: #404041;
        background-color: #FBF4E5;
    }
    
    .cp_brown {
        background-color: #E6DAC5;
    }
    
    .cp_blue {
        background-color: #A2CACC;
    }
    
    .cp_red {
        background-color: #DD4D6A;
    }
    
    .cp_grey {
        background-color: #939597;
    }
    
    .cp_black {
        background-color: #404041;
    }
    /* 
  INTERACTIVE ELEMENTS -------------------
*/


/* Navigation button */

.list-nav {

    display: block;
    width: 100%;
    /*    background-color: #336;*/
    margin: 0;
    padding: 0;
}

.list-nav:after {
    content: "";
    display: block;
    clear: both;
}


.list-nav a {
    float: left;
    display: block;
    margin: 0em 0.09em 0 0;
    padding: 0.5em 1.5em;
    background-color: #404041;
    color: white;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.list-nav .button-list-nav a {
    float: left;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    text-transform: uppercase;
    padding-left: 1.5em;
    padding-right: 1.5em;
    letter-spacing: 0.05em;
    margin-top: 1em;
}

.list-nav a {
    display: block;
    padding: 0.5em 0.75em;
    margin: 0em 0.09em;
    margin-bottom: 0.2em;
    color: #FFF;
    text-align: center;
    background-color: #404041;
    text-decoration: none;
    -webkit-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
}


.list-nav a:last-of-type {
    border-right: 0.1 rem solid transparent;
}


.list-nav a:hover,
.list-nav a:focus {
    color: white;
    background-color: #939597;
}
    /* Links */
    
    a {
        color: #336;
        -webkit-transition: color 0.3s ease-out;
        transition: color 0.3s ease-out;
    }
    
    a:hover {
        color: goldenrod;
    }
    /* Submit & Reset Buttons */
    
    input[type="submit"] {
        font-family: "Oswald", Arial, sans-serif;
        background-color: #404041;
        color: #FFF;
        border: none;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 0.8em;
        padding: 0.5em 1em;
        letter-spacing: 0.1em;
        margin-top: 1em;
    }
    
    input[type="submit"]:hover,
    input[type="reset"]:hover,
    input[type="submit"]:focus,
    input[type="reset"]:focus {}
    /* Text Input Field */
    
    input[type="text"] {
        padding: .5em 0.25em;
    }
    /* 
  TEXT ELEMENTS -------------------
*/
    
    .title {
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        font-size: 3rem;
        letter-spacing: 0.05em;
        color: #A2CACC;
        height: 100%;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Oswald', Arial, Helvetica, sans-serif;
    }
    
    section h1 {}
    
    h2 {
        font-size: 1.5rem;
        color: #DD4D6A;
    }
    
    ul {
        list-style-type: square;
        padding-left: 1rem;
    }
    
    ol {
        counter-reset: item;
        margin-left: 0;
    }
    
    ol > li {
        margin: 0 0 0.2em 0;
        text-indent: -1em;
        list-style-type: none;
        counter-increment: item;
    }
    
    ol li:before {
        content: counter(item, upper-alpha) ")";
        margin-right: 5px;
        font-weight: bold;
    }
    /* 
  COMBINED ELEMENTS -------------------
*/
    /* Main Navigation */
    
    .search-nav {
        float: right;
        height: 2.2rem;
    }
    
    #search-nav {
        margin: 0;
        background-color: #336;
        color: white;
        height: 2.2rem;
        border: none;
        border-left: 0.1rem solid white;
        /*    border-right: 0.1em solid white;*/
        vertical-align: top;
    }
    
    input#submit-search-nav[type="submit"] {
        margin: 0 0 0 -.2em;
        padding: 0;
        background-color: #336;
        width: 2.2rem;
        border-radius: 0;
        border: 0;
        border-right: 0.1rem solid white;
        height: 2.2rem;
        background-image: url(/img/search_icon_white.png);
        background-size: contain;
        -webkit-transition: background-color 0.2s ease-out;
        transition: background-color 0.2s ease-out;
    }
    
    input#submit-search-nav[type="submit"]:hover {
        background-color: goldenrod;
    }
    
    .cart,
    .account {
        float: right;
        width: 4rem !important;
        height: 2.2rem;
    }
    
    .cart a,
    .account a {
        position: relative;
        width: 100%;
        height: 100%;
    }
    
    .cart a img,
    .account a img {
        position: relative;
        top: -10%;
        padding: 0;
        width: 1.5rem;
        height: 1.5rem;
        margin: 0 auto;
        vertical-align: center;
    }
    /* Product Listing */
    
    .prop-browsing {
        position: relative;
        margin: 0 auto 2rem auto;
        padding: 1px;
        width: 50em;
        background-color: #A2CACC;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }
    
    .prop-info-browsing:before {
        content: "";
        display: block;
        clear: both;
    }
    
    .prop-thumbnail-browsing {
        position: absolute;
        top: 2rem;
        left: 3rem;
        width: 50%;
        z-index: 1;
        font-size: 2rem;
        border-bottom: 0.1em solid #666666;
        box-shadow: /*Box 0*/
        0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24), /*Box 1*/
        0.2em -0.2em 0 0 #FBF4E5, 0.22em -0.22em 3px rgba(0, 0, 0, 0.12), 0.22em -0.22em 2px rgba(0, 0, 0, 0.24), /*2nd box*/
        0.4em -0.4em 0 0 #A2CACC, 0.42em -0.42em 3px rgba(0, 0, 0, 0.12), 0.42em -0.42em 2px rgba(0, 0, 0, 0.24), ;
    }
    
    .prop-title-browsing {
        margin-left: 1rem;
        font-weight: 300;
        font-size: 2rem;
        color: #DD4D6A;
        text-transform: uppercase;
        letter-spacing: 0.15rem;
    }
    
    .prop-thumbnail-browsing img {
        width: 100%;
        height: auto;
    }
    
    .prop-info-browsing {
        position: relative;
        margin: 5rem 2rem 0 48%;
        /*top: 5rem;
left: 48%;*/
        padding: 0.5em;
        z-index: 2;
    }
    
    .prop-description-browsing {
        position: relative;
        margin: 1rem 0 1rem 0;
        padding: 1rem;
        border: 0.2em solid black;
    }
    
    .prop-bag-browsing {
        position: absolute;
        bottom: 2rem;
        right: -5rem;
        width: 5rem;
        padding: 0.5rem;
        background: black;
        color: white;
        text-align: center;
    }
    
    .prop-price-browsing {
        position: absolute;
        bottom: 0;
        left: 50%;
        margin: -0.4em -2.5em;
        background-color: #A2CACC;
        width: 5rem;
        font-size: 1.5rem;
        font-weight: 700;
        color: white;
        text-align: center;
    }
    
    .sm_img img {
        width: 100%;
        height: auto;
    }
=======
}


/* Links */

a {
    color: #336;
    -webkit-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}

a:hover {
    color: goldenrod;
}


/* Submit & Reset Buttons */

input[type="submit"] {
    font-family: "Oswald", Arial, sans-serif;
    background-color: #404041;
    color: #FFF;
    border: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0.5em 1em;
    letter-spacing: 0.1em;
    margin-top: 1em;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="reset"]:focus {}


/* Text Input Field */

input[type="text"] {
    padding: .5em 0.25em;
}


/* 
  TEXT ELEMENTS -------------------
*/

.title {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 3rem;
    letter-spacing: 0.05em;
    color: #A2CACC;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
}

section h1 {}

h2 {
    font-size: 1.5rem;
    color: #DD4D6A;
}

ul {
    list-style-type: square;
    padding-left: 1rem;
}

ol {
    counter-reset: item;
    margin-left: 0;
}

ol > li {
    margin: 0 0 0.2em 0;
    text-indent: -1em;
    list-style-type: none;
    counter-increment: item;
}

ol li:before {
    content: counter(item, upper-alpha) ")";
    margin-right: 5px;
    font-weight: bold;
}


/* 
  COMBINED ELEMENTS -------------------
*/


/* Main Navigation */

.search-nav {
    float: right;
    height: 2.2rem;
}

#search-nav {
    margin: 0;
    background-color: #336;
    color: white;
    height: 2.2rem;
    border: none;
    border-left: 0.1rem solid white;
    /*    border-right: 0.1em solid white;*/
    vertical-align: top;
}

input#submit-search-nav[type="submit"] {
    margin: 0 0 0 -.2em;
    padding: 0;
    background-color: #336;
    width: 2.2rem;
    border-radius: 0;
    border: 0;
    border-right: 0.1rem solid white;
    height: 2.2rem;
    background-image: url(/img/search_icon_white.png);
    background-size: contain;
    -webkit-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
}

input#submit-search-nav[type="submit"]:hover {
    background-color: goldenrod;
}

.cart,
.account {
    float: right;
    width: 4rem !important;
    height: 2.2rem;
}

.cart a,
.account a {
    position: relative;
    width: 100%;
    height: 100%;
}

.cart a img,
.account a img {
    position: relative;
    top: -10%;
    padding: 0;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 auto;
    vertical-align: center;
}


/* Product Listing */

.prop-browsing {
    position: relative;
    padding: 1px;
    width: 50em;
    background-color: #99cccc;
    /*    background-color: #A2CACC;*/
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.prop-info-browsing:before {
    content: "";
    display: block;
    clear: both;
}

.prop-thumbnail-browsing {
    position: absolute;
    top: 2rem;
    left: 3rem;
    width: 50%;
    z-index: 1;
    font-size: 2rem;
    border-bottom: 0.1em solid #666666;
    box-shadow: /*Box 0*/
    0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24), /*Box 1*/
    0.2em -0.2em 0 0 #FBF4E5, 0.22em -0.22em 3px rgba(0, 0, 0, 0.12), 0.22em -0.22em 2px rgba(0, 0, 0, 0.24), /*2nd box*/
    0.4em -0.4em 0 0 #A2CACC, 0.42em -0.42em 3px rgba(0, 0, 0, 0.12), 0.42em -0.42em 2px rgba(0, 0, 0, 0.24), ;
}

.prop-title-browsing {
    margin-left: 1rem;
    font-weight: 300;
    font-size: 2rem;
    color: #DD4D6A;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
}

.prop-thumbnail-browsing img {
    width: 100%;
    height: auto;
}

.prop-info-browsing {
    position: relative;
    margin: 5rem 2rem 0 48%;
    /*top: 5rem;
    left: 48%;*/
    padding: 0.5em;
    z-index: 2;
}

.prop-description-browsing {
    position: relative;
    margin: 1rem 0 1rem 0;
    padding: 1rem;
    border: 0.2em solid black;
}

.prop-bag-browsing {
    position: absolute;
    bottom: 2rem;
    right: -5rem;
    width: 5rem;
    padding: 0.5rem;
    background: black;
    color: white;
    text-align: center;
}

.prop-price-browsing {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin: -0.4em -2.5em;
    background-color: #A2CACC;
    width: 5rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    text-align: center;
}

.sm_img img {
    width: 100%;
    height: auto;
}
>>>>>>> homepage
